/* ALGUMAS PROPRIEDADES GERAIS ou globais */
body {
    background-color: #251B37; 
}/* personalização padrão do body */

.logoMain {
    height: 120px;
}

.logo {
    max-height: 60px;
}

.foto {
    max-height: 200px;
    float: center;
}

.imagem {
    min-height: 20px;
    min-width: 20px;
    max-height: 100px;
    max-width: 100px;
}

.anuncio {
    height: 128px;
}

.texto {
    text-align: start;
    padding: 30px;
    padding-top: 0px;
}

.faleConosco {
    float: left;
}


/* AQUI VAI A PARTER DE PERSONALIZAÇÃO DE BOXES */


.caixa {
    background-color: #FFECEF;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #f1f1f1;
    text-align: center;
}/* Boxes comuns */

.titulo {
    border-radius: 6px;
    background-color: #FFCACA;
    color: rgb(61, 35, 53);
    padding: 5px;
}



/* AQUI VÃO OS BOTÕES */


.botao {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
}/* Botões comuns terão essas propriedades */

.botao:active {
    opacity: 1;
}/* Propriedade ao clicar no botão básico */

.colorido:hover {
    opacity: 1;
}/* Propriedade para embelezar botões coloridos */

.navegador {
    background-color: rgb(235, 200, 45);
    color: #3f3415;
    border-radius: 6px;
}/* Propriedades para os botões da barra de navegação */

.confirm {
    background-color: #04AA6D;
    border-radius: 6px;
}/* Botão de confirmação */



/* ESTRUTURAS DE GRID GLOBAIS */

#mastheader {
    grid-area:header;
    text-align: left;
    background-color: #806b9b;
    border-color: #806b9b;
    color: rgb(255, 255, 255);
    font-size: 21px;
}
#footer {
    grid-area:footer;bottom: 0;
    text-align: right;
    background-color: #372948;
    border-color: #372948;
}


/* ESTRUTUA DA PAGINA 1 */

.pag1 {
    display:grid;
    grid-template-columns:5fr 1fr;
    grid-template-areas:
        "header header"
        "artigo1 sidebar"
        "artigo2 sidebar"
        "footer footer";
    grid-gap:10px;
  }

  #art1{grid-area:artigo1;min-height: 300px; margin: 20px;}
  #art2{grid-area:artigo2;min-height:300px; margin: 20px; margin-top: 0px;}
  #sidebar{grid-area:sidebar;background-color: #372948;border-color: #372948;color: #f1f1f1;}


/* ESTRUTUA DA PAGINA 2 */

.pag2 {
    display:grid;
    grid-template-areas:
        "header"
        "formulario"
        "footer";
    grid-gap:10px;
  }

  #formulario {
    grid-area:formulario;
    justify-self: center;
    margin-bottom: 150px;
    margin-top: 15px;
  }
 

/* ESTRUTUA DA PAGINA 3 */

.pag3 {
    display:grid;
    grid-template-areas:
        "header header header header"
        "sig1 sig2 sig3 sig4"
        "sig5 sig6 sig7 sig8"
        "sig9 sig10 sig11 sig12"
        "footer footer footer footer";
    grid-gap:10px;
  }

  .signada {
    margin: 5%;
    margin-bottom: 15px;
    max-width: 100%;
  }

  #sig1{grid-area:sig1;}
  #sig2{grid-area:sig2;}
  #sig3{grid-area:sig3;}
  #sig4{grid-area:sig4;}
  #sig5{grid-area:sig5;}
  #sig6{grid-area:sig6;}
  #sig7{grid-area:sig7;}
  #sig8{grid-area:sig8;}
  #sig9{grid-area:sig9;}
  #sig10{grid-area:sig10;}
  #sig11{grid-area:sig11;}
  #sig12{grid-area:sig12;}

  /* sumário */
  details > summary {
    padding: 4px;
    width: 200px;
    background-color: #FFCACA;
    border: none;
    box-shadow: 1px 1px 2px #ffcacb;
    cursor: pointer;
    color: rgb(61, 35, 53);
  }
  
  details > p {
    background-color: #FFCACA;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #ffcacb;
    color: rgb(61, 35, 53);
  }